.modal {
    width: 80%;
    --border-radius: 10px;
    --height: 50%;
}


ion-button {
    border-radius: 25px;
    color: #000080;
    width: 150px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px white;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}
