
<ion-grid>
  <ion-card>
    <a href="{{ article.link }}" target="_blank">
      <img src="{{ article.image }}" />
      <ion-card-header>
        <ion-card-title>{{ article.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ article.content }}</ion-card-content>
    </a>
    <ion-footer>
      <div class="date">{{ article.date.getDay() }}/{{ article.date.getMonth() }}/{{ article.date.getFullYear() }}</div>
      <ion-icon class="share" size="large" name="share-outline" (click)="copyLink()"></ion-icon>
      <ion-icon class="heart" size="large" name="heart-outline" *ngIf="!heartClicked" (click)="heartClicked = !heartClicked"></ion-icon>
      <ion-img class="heart" src='../../assets/icon/quokkai_happy_fond.png' *ngIf="heartClicked" (click)="heartClicked = !heartClicked"></ion-img>
    </ion-footer> 
  </ion-card>
</ion-grid>