ion-toolbar {
    background-color: white;
    border-bottom: solid #000080;
}

ion-title {
    color: #000080;
}

/*
app-articles {
    background-image: url('../../assets/icon/test.png');
    background: transparent;
    box-shadow: 0;
}

ion-content {
    width: calc(100% + 10px);
    background-image: url('../../assets/icon/test.png')
}

ion-item {
    background: transparent;
    margin-left: -6%;
}
*/


ion-content {
    width: calc(100% + 10px);
}

ion-item {
    margin-left: -6%;
}

ion-grid {
    background-image: url('../../assets/icon/fond_total.png');
}
