<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Les actualités positives de {{region}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Wow j'ai 0 inspi pour le titre</ion-card-subtitle>
      <ion-card-title>Wow j'ai 0 inspi pour le titre</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre
      Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre
      Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre
      Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre
      Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Wow j'ai 0 inspi pour le titre</ion-card-subtitle>
      <ion-card-title>Wow j'ai 0 inspi pour le titre</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre
      Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre
      Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre
      Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre
      Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre Wow j'ai 0 inspi pour le titre
    </ion-card-content>
  </ion-card>

</ion-content>
