<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <!--Information du profil -->
  <ion-header>
     <!--<ion-label>Information du profil</ion-label>-->
     <ion-input name="email" placeholder="E-mail" [(ngModel)]="userInfo.email" readonly></ion-input>
     <ion-input name="region" placeholder="Région" [(ngModel)]="userInfo.region" readonly></ion-input>
  </ion-header>
  
  <ion-button (click)="disconnect()">Déconnexion</ion-button>

</ion-content>
