ion-tab-bar {
    background-color: white;
    border-bottom: solid #000080;
}

ion-tab-button {
    background-color: white;
}

ion-icon {
    color: #000080;
}

ion-img {
    height: 32px;
    width: 32px;
}