<ion-header>
  <ion-toolbar>
    <ion-title>Mot de passe oublié</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input name="email" placeholder="E-mail" [(ngModel)]="email"></ion-input>
  <ion-label *ngIf="errorMessage" color="danger">Les informations données sont incorrectes</ion-label>
  <ion-label *ngIf="validationMessage" color="success">Un nouveau mot de passe vous a été envoyé</ion-label>
  <ion-button (click)="forgottenPassword()">Envoi d'un nouveau mot de passe</ion-button>
</ion-content>
