<form>

  <ion-input name="email" placeholder="E-mail" [(ngModel)]="registrationInfo.email"></ion-input>
  
  <ion-select name="region" placeholder="Choisissez votre région" [(ngModel)]="registrationInfo.region">
      <ion-select-option *ngFor="let region of regions" value="{{region.name}}">{{region.name}}</ion-select-option>
  </ion-select>

  <ion-input name="password" placeholder="Mot de passe" [(ngModel)]="registrationInfo.password"></ion-input>
  
  <ion-label *ngIf="errorMessage" color="danger">Les informations données sont incorrectes</ion-label>
  <ion-button (click)="register()">Inscription</ion-button>

</form>