<ion-header>
  <ion-toolbar>
    <ion-card-subtitle>Quokkaï, le sourire dans votre poche !</ion-card-subtitle>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
     <form>

      <ion-input name="email" placeholder="E-mail" [(ngModel)]="loginInfo.email"></ion-input>
      <ion-input name="password" placeholder="Mot de passe" [(ngModel)]="loginInfo.password" type="password"></ion-input>
      <ion-label *ngIf="errorMessage" color="danger">Les informations données sont incorrectes</ion-label>
      <ion-tab-button (click)="redirect('/mdp-oublie')">Mot de passe oublié</ion-tab-button>
      <ion-card-content>
        Pas encore membre ? 
        <ion-tab-button (click)="redirect('/inscription')">S'inscrire</ion-tab-button>
      </ion-card-content>
      <ion-button (click)="login()">Connexion</ion-button>

    </form>
  </ion-header>
</ion-content>
